[submodule "wsd"]
	path = wsd
	url = https://github.com/gauravjuvekar/wsd.git
[submodule "extractive"]
	path = extractive
	url = https://github.com/gauravjuvekar/extractive.git
[submodule "SIF"]
	path = SIF
	url = https://github.com/gauravjuvekar/SIF.git
